<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap" rel="stylesheet">
</head>

<style>
	
	.blue{ color: #4285f4 }
	.red{ color: #ea4335 }
	.green{ color: #34a853 }
	.yellow{ color: #f9ab00 }
	.black{ color: #030002 }
	.mission { width: 60%; margin: 0 auto; }
	.main { display: block; margin: 0 auto; text-align: center; padding-top: 120px; }
	.prettyFont{ font-family: 'Liu Jian Mao Cao', cursive;  font-weight: bold ; font-size: 50px}
	.link { text-decoration: none; }
	body {background-color : #ecc1c8;}
	
	h1{color: #FF1439 }

	
</style>

<body>
	<div class="container-fluid">
		<nav class="row navbar navbar-expand-lg navbar-transparent">
				<div class="col-9">
					<span class="navbar-text">
						<a class="navbar-brand pad black link black" href="../index.html">PAWsome Careers</a>
					</span>
				</div>
		</nav>
	</div>
	<div class ="main prettyFont">
		<p class="mission">
			Our mission is to 
			<span class = "blue">help</span>
			 High School Kids 
			<span class = "red">know the tech field</span>
			 they could be
			<span class = "green"> interested</span>
			 in and will 
			<span class = "yellow">enjoy</span>
			 as career. 
		</p>
	</div>
	<img src = "https://raw.githubusercontent.com/shafali731/TechTogetherNY2019/master/images/cat.png"
	 width = "200" height = "200"  style="background-image: bottom left; position: fixed; left: 0; bottom: 0;">
	 <a style="text-decoration:none ; background-image: bottom left; position: fixed; right: 0; bottom: 0; color: black" href="https://docs.google.com/presentation/d/1x6Dr5EMB82DTqFSFErBIV11lLD3_OYQbQ3ioe3ru_d0/edit?ts=5db542c3#slide=id.g6401f0563b_0_201">
	 Slides</a>
	
</body>
</html>
