<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>Floats</title>
	<link rel='stylesheet' href='styles.css'/>
	<link href="https://fonts.googleapis.com/css?family=Merienda&display=swap" rel="stylesheet">

  </head>
  <style>
    .chart rect {
    	fill: steelblue;
    }

    .chart text {
    	fill: white;
    	font: 10px sans-serif;
    	text-anchor: end;
    }
    </style>
  <body>
    <div id= "inser"> </div>
    <svg class="chart"></svg>


	<div class='menu'></div>

	<div class='container'>
		<div class='page'>
			<div class='Career1'><h1>Game Development</h1>
				<p>It prepares individuals to apply scientific and mathematical principles to the design, analysis, verification, validation,
				implementation, and maintenance of computer software systems using a variety of computer languages such as Java, C++ or python.
				Includes instruction in discrete mathematics, probability and statistics, computer science, managerial science, and applications
				to complex computer systems.</p>
			</div>
			<div class='Career2'><h1>Graphic Design</h1>
				<p>Graphic Designers determine the aesthetic appeal of a Web site,
				application etc as well as ensuring its user-friendliness.
				They create the images used for program buttons and icons, help
				files, splash screens (that depict two-dimensional images of customer products),
				box sets (that set those product images into a three-dimensional figure), and
				other illustrative art that appears on the webpages. Graphic Designers should
				have courses in computer graphics techniques, computer science, communications
				and graphic design with experience of major software packages such as PhotoShop,
				Quark, PageMaker, Adobe Illustrator and similar software.</p></div>
			<div class='Career2'><h1>Data Science</h1>
				<p>Data scientists use scientific principles to study large amounts of
				data and develop software to extract and analyze valuable kernels of
				knowledge from massive datasets. Data scientists study programming, data
				analytics, and database management, Mathematics (including statistics),
				history, social studies, and philosophy. </p></div>
			<div class='Career1'><h1>Software Developer</h1>
				<p>Applications, or Programs, or systems are sets of codes that
				instruct computers on how to perform. Software developers create these
				by developing and/or writing this code. Developers must consider every
				aspect of how an application or system  will function, what users will
				do with it, and what might go wrong. Software developers should study
				Software Design, Introduction to Computer Systems, Fundamentals of
				Programming, Discrete Structures for Computer Science, Advanced Algebra,
				computer architecture and design strategy, HTML, artificial intelligence tools,
				and object-oriented programming languages such as Java, Python, and C++.</p></div>
			<div class='Career2'><h1>System Administrator</h1>
				<p>Systems Administrator usually is involved with operational software
				and hardware installations and configurations, may be concerned with
				application installations and upgrades, and may also perform systems
				programming activities</p></div>
			<div class='Career1'><h1>Computer Architecture</h1>
			<p>In computer engineering, computer architecture is a set of rules and methods
			that describe the functionality, organization, and implementation of computer
			systems. The main goal is to use their skills to increase the efficiency and
			effectiveness of computer systems. Skills needed technology methodologies, system
			architecture, and network infrastructure, as well as some knowledge of computer programming
			languages and the ability to analyze software, network, and hardware connectivity.
</p></div>
			<div class='Career2'><h1>AI/Machine Learning</h1>
			<p>AI Scientists develop algorithms that explain specific characteristics of human intelligence,
			such as applying rules to make decisions, recognizing patterns, doing steps in logical order, or
			assessing how to improve task performance. AI Scientists generally work on several projects at a time.
			Tasks for AI Scientists are varied each day. For example, they may read scientific literature; conduct
			experiments; meet with colleagues to discuss research projects; and work on scholarly articles or presentations.
			Courses include computer programming and writing and other problem-solving and analytical building courses.
			Also need strong communication, interpersonal, and teamwork skills. Many employers expect candidates to have
			completed a few years of postdoctoral training.
</p></div>
			<div class='Career1'><h1>Cybersecurity</h1>
			<p>Information security analysts protect an organization’s computer systems and networks from unauthorized
			intrusion by cyber attacks. Have special licensing requirements. Courses includes Internet security, Threat
			management, programming, database management, computer science, and related areas. IS analysts have normal
			business hours, but may have to be on call at night and on weekends in case of an emergency. </p></div>
			<div class='Career2'><h1>Robotics</h1>
			<p>Three branches- Robotics engineers design, develop, build, and program robots and robotic devices, including
			peripheral equipment and computer software used to control robots. Robotics technicians assist robotics engineers
			in tasks relating to the design, development, production, testing, operation, repair, and maintenance of robots
			and robotic devices. Robotics Researchers are involved in the scientific study and practical application of robots.
			Includes instruction in the principles of robotics, design and operational testing, system maintenance and repair
			procedures, robot computer systems and control language, specific system types and applications to specific
			industrial tasks, research experiences, and report preparation.
</p></div>
			<div class='Career1'><h1>Computer Research</h1>
			<p>Computer and information research scientists find new approaches to computing technology as well as studying and
			solving complex problems in computing for business, science, and other fields. They create and improve computer hardware
			and software and work at a more theoretical level than other computer professionals.</p></div>
			</div>
	</div>

  <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
  <!-- <script src="index.js"></script> -->
  <script src="../static/end.js"> </script>

  </body>
</html>
